.menu-img {
  max-width: 64px;
  height: auto;
}

#logotext {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.menu-img2 {
  max-width: 100px;
  height: auto;
}

.imgbutton {
  border: none;
  background: none;
}

.imgbutton2 {
  border: none;
  background: none;
  max-width: 50px;
  margin-right: 50px;
  padding: 0;
}

.imgbutton2:hover .menu-img2 {
  max-width: 98 px;
  border: 2px solid aqua;
}

.imgbutton:hover .menu-img {
  max-width: 62px;
  border: 2px solid aqua;
}


#menunav {
  height: 64px;
  background-color: #b3ccff;
}

#menutitle {
  text-align: center;
  color: white;
  width: 100%;
}

.menu-content {
  position: fixed;
  position: fixed;
  z-index: 1;
  background-color: #d5dbf3;
  top: 0;
  left: 0;
  bottom: 0;
  margin-top: 64px;
  width: 220px;
  height: 100%;
  background-color: #5676ff;
  transition: left 0.3s;
}

.menu-content ul {
  list-style: none;
  width: 60%;
  margin-left: 1rem;
  padding: 0;
}

.menu-content a {
  cursor: pointer;
  display: flex;
  align-items: center;
  margin: 10px 0;
  position: relative;
  transition: transform 0.2s;
  height: 40px;
  width: 113%;

  user-select: none;
  color: white;
  letter-spacing: 4px;
  text-decoration: none;

}

.menu-content img {
  max-width: 30px;
  margin-right: 10px;
}

.menu-content a::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 2px;
  background-color: aqua;
  transform-origin: left;
  transition: width 0.2s;
}

.menu-content a:hover::before {
  width: 100%;
}

.menu-content a:hover {
  transform: translateX(-10px);
}

.visible {
  left: 0;
}

.hidden {
  left: -250px;
}


footer {
  width: 100vw;
  background-color: rgb(253, 252, 252);
  position: absolute;
  bottom: 0;

}

.border-none {
  border: none;
  background-color: none;
}

.imgsfoot {
  width: 50px;
  height: 30px;
}

.footerflex {
  display: flex;
  flex-wrap: wrap;
}

#contact label {
  font-family: sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.contactinputs {
  border: 1px solid black;
  border-radius: 2rem;
}

.textarea {
  height: 20vh;
}

.textarea textarea {
  border-radius: 0.5rem;
  height: 100%;
  width: 30%;

}

@media screen and (max-width: 769px) {
  #contact label input {
    width: 75%;
  }
}